.cs-dashboard {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
}

.cs-panel {
  align-items: center;
  background-color: #18bc9c;
  display: flex;
  justify-content: center;
}
